{% extends "./index.html" %}
{% load static %}



{% block main %}

<div class="card col-8">
     <button type="button" class="btn btn-primary btn-lg btn-block"style="background-color: cadetblue"><a href="{% url 'password:password_form' %}"style="color: black;">添加密码</a></button>
  <div class="row no-gutters">

{% for password in passwords %}
    <div class="col-md-4">
      <img src="/media/{{ password.image1 }}" class="card-img" style="margin-bottom:0px">
    </div>
    <div class="col-md-7">
      <div class="card-body"style="padding-top: 30px">
        <h5 class="card-title">{{ password.appname }}</h5>
        <p class="card-text">用户名：{{ password.user }}</p>
        <p class="card-text"><small class="text-muted">{{ password.created_time }}</small></p>
           <a href="{% url 'password:detail_password' password.id %}"  class="btn btn-primary"style="float: right;">Details</a>
      </div>
    </div>
      {% endfor %}
  </div>
</div>



{% endblock %}
