{% extends "./index.html" %}
{% load static %}



{% block main %}
<div class="card col-8">

<div class="jumbotron jumbotron-fluid"style="background-color: cornflowerblue;margin-top: 10px;">
    <h2 class="display-4">添加密码</h2>
  </div>

    <form method="post" enctype="multipart/form-data">
{{ form.non_field_errors }}
        {% csrf_token %}
        <div class="fieldWrapper form-group">
        {{ form.appname.errors }}
            <label for="{{ form.appname.id_for_label }}"><h4>Your Appname:</h4></label>
        <input  class="form-control" placeholder="Enter appname" type="text" id="id_appname" name="appname">
        </div>
    <div class="fieldWrapper form-group">
    {{ form.user.errors }}
        <label for="{{ form.user.id_for_label }}"><h4>Your User:</h4></label>
     <input  class="form-control" placeholder="Enter user" type="text" id="id_user" name="user">
</div>
    <div class="fieldWrapper form-group">
    {{ form.phone.errors }}
        <label for="{{ form.phone.id_for_label }}"><h4>Your Phone:</h4></label>
    <input  class="form-control" placeholder="Enter Phone" type="text" id="id_phone" name="phone">
</div>
    <div class="fieldWrapper form-group">
    {{ form.email.errors }}

        <label for="{{ form.eamil.id_for_label }}"><h4>Your Email:</h4></label>
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
            <input  class="form-control" placeholder="name@example.com" type="email" id="id_email" name="email">
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>
    <div class="fieldWrapper form-group">
    {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}"><h4>Your Password:</h4></label>
     <input  class="form-control" placeholder="Enter Password" type="password" id="id_password" name="password">
        <small  class="form-text text-muted">We'll never share your password with anyone else.</small>
</div>
    <div class="fieldWrapper">
    {{ form.image1.errors }}
    <label for="{{ form.image1.id_for_label }}"><h3>上传图片:</h3></label>
    {{ form.image1 }}
</div>
        <button type="submit" class="btn btn-primary"style="float: right;">Submit</button>
          </form>


</div>


{% endblock %}

