{% extends "./index.html" %}
{% load static %}

{% block main %}

<div class="card col-8">
  <div class="row no-gutters"style="padding-top: 20px">


    <div class="card mb-3">
  <img src="/media/{{ detail_passwords.image1 }}" class="card-img-top" alt="...">
  <div class="card-body">
    {{ forloop.counter }}
    <h4 class="card-title">应用名：{{ detail_passwords.appname }}</h4>
      <h4 class="card-title">账号：{{ detail_passwords.user }}</h4>
      <h4 class="card-title">手机号：{{ detail_passwords.phone }}</h4>
      <h4 class="card-title">Email：{{ detail_passwords.email }}</h4>
      <h4 class="card-title">密码：{{ detail_passwords.password }}</h4>


    <a href="/delpassword/?id={{ detail_passwords.id }}"><button class="btn btn-primary">删除</button></a>

    <p class="card-text"style="float: right"><small class="text-muted">{{ detail_passwords.created_time }}</small></p>
  </div>
</div>
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>
  </div>

</div>

{% endblock %}

